<section class="contact"><h2 class="section-heading"><span>aaqa@ishtyaq:~$</span><span> cat contact.md</span></h2><p>I'm currently looking for <span>Remote or DEL/IND based</span>
work, so if you're a cool startup looking for an always curious
passionate dev, here is my <a href="https://kutt.it/2020_aaqa_resume">Resume</a>
<br> ping me on
<a href="https://github.com/aaqaishtyaq">Github</a>,
<a href="https://twitter.com/aaqaishtyaq">Twitter</a>
or <a href="https://linkedin.com/in/aaqaishtyaq">LinkedIn</a>.
<br> Or, you can get in touch via
<a href="mailto:aaqaishtyaq@gmail.com">E-mail</a></p></section>