section.contact

    h2.section-heading
        span aaqa@ishtyaq:~$
        span  cat contact.md

    p
        | I'm currently looking for <span>Remote or DEL/IND based</span>
        | work, so if you're a cool startup looking for an always curious
        | passionate dev, here is my #[a(href="https://kutt.it/aaqa_resume__") Resume]
        | <br> ping me on
        | #[a(href="https://github.com/aaqaishtyaq") Github],
        | #[a(href="https://twitter.com/aaqaishtyaq") Twitter]
        | or #[a(href="https://linkedin.com/in/aaqaishtyaq") LinkedIn].
        | <br> Or, you can get in touch via
        | #[a(href="mailto:aaqaishtyaq@gmail.com") E-mail]
