head

   title {{page.title}}
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta( name='description', content='{{page.description}}')
   meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
   link(rel='stylesheet', href='/assets/css/main.css')
   link(rel='apple-touch-icon', sizes='120x120', href='assets/img/favicon/apple-touch-icon.png')
   link(rel='icon', type='image/png', sizes='32x32', href='assets/img/favicon/favicon-32x32.png')
   link(rel='icon', type='image/png', sizes='16x16', href='assets/img/favicon/favicon-16x16.png')
   link(rel='manifest', href='assets/img/favicon/site.webmanifest')
   link(rel='mask-icon', href='assets/img/favicon/safari-pinned-tab.svg', color='#9068be')
   meta(name='msapplication-TileColor', content='#9068be')
   meta(name='theme-color', content='#9068be')
   meta(name='keywords', content='aaqa, aaqa ishtyaq, aaqa ishtiyaq, portfolio, blog, ishtyaq, ishtiyaq')
   meta {% seo %}
