// Font Face
@import url('https://fonts.googleapis.com/css?family=Cousine')
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono')

// Font
$font: 'IBM Plex Mono', monospace
$headings: 'Cousine', monospace

// Color Variables

$light-blue: #54C9FF
$light-purple: #DF5DFF
$yellow: #FFF053
$dark-purple: #282947 // dark purple
$orange: #ED6352
$green: #62FF87
$pink: #EA4C89
$select: #66fcf1
